h1
{
    text-align: Center;
    text-decoration: underline;
}
img
{
    height: 150px; width: 150px;
}
table
{
    width: 100%;
    margin: auto;
}
h3
{
    color: brown;
    text-align: center;
}
h4
{
    text-align: left;
    text-decoration: underline;
}
.p1, .p2{color: black;}

body{color: burlywood;}
iframe
{
    display: none;
}